
.both_padding{
	padding-left: 30px;
	padding-right: 30px;
	
}
.left_padding{
	padding-left: 30px;
	
}
.right_padding{
	padding-right: 30px;	
}

.header{
	background-image: url("../assets/img/header.jpg");
	background-position: center;
	height: 130px;
}

.section{
	p{
		text-align: justify;
	}
}

.bluerow{
	background-color: #e2f4fa;
	h2{
		margin-bottom: 0; 
		font-size:12px; 
	}
}
.maildate{
	font-size:12px; 
	font-weight:500; 	
}


.rtl{
	direction: rtl;	
}
.ltr{
	direction: ltr;	
}


.grayrow{
	background-color: #eaeaea;
	p{
		text-align: justify;
	}

}

h1{
	line-height: 1.1;
	font-size:18px; 
	font-weight:700;  
	color:$primary-color; 
	font-family:Arial;	
}

hr{
	border: 1px solid #e1e0e0;
	margin: 0px 30px;
}